body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;	
}
* html body{
	font-size:xx-small;	
	f\ont-size:x-small;	
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width:170px
}

ul li {
	position: relative;
	width:168px;
	border: 1px solid #ccc;
}
/* keep folowing styles together..........................*/
* html ul ul {
	margin-left:-16px;/* ie5 fix */
	voice-family: "\"}\""; 
	voice-family: inherit;
}	
* html ul li {float:left;/* hide float from ie5*/}
* html ul ul {
	width:170px;	
	w\idth:168px;
	voice-family: "\"}\""; 
	voice-family: inherit;	
}
* html ul ul {margin-left:0;/* hide margin from ie5*/}

/* keep above styles together .............*/

li ul {
	position: relative;
	display:none;
}
li ul li {
	width:159px;
	border-left:8px solid blue
}

/* Styles for Menu Items */
ul li a {
	display:block;
	text-decoration: none;
	color: #777;
	background: #ffffcc; /* IE6 Bug */
	line-height:20px;
	height:20px;	
	padding:0 5px
}
li li a {background:#f2f2f2}

/* set dropdown to default */
li:hover li a, li.over li a {
    color: #777;
   background-color: #f2f2f2;
}

/* this sets all hovered lists to red */
li a:hover,
li:hover a, li.over a,
li:hover li a:hover, li.over li a:hover {
   color: #fff;
   background-color: 529dff;
}

li ul li  {  } /* Sub Menu Styles */
 li.on ul { display:block  } /* The magic */
li.off ul{display:none}